.env
.DS_store
.ipynb_checkpoints/
notebooks/t5_summary_results
notebooks/image_captioning
notebooks/english_to_latex
notebooks/lightning_logs
notebooks/toxic
notebooks/xlnet_clf/
notebooks/calculus/
notebooks/calculus_english_to_latex/
notebooks/v2_image_captioning/
notebooks/snips_clf/
notebooks/snips_tok_clf/
data/reviews.csv
data/cached*